
.env
.env.*
node_modules/
.vscode/
.expo/
.md/
.expo-shared/
web-build/
dist/

*.log
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

gluestack-starter/
scripts/
questions.json
.github/
context/

__pyache__/
*.pyc

*.md
!README.md
